
/* CSS code for the SLT website */
h1 {
    padding: none;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: 30px;
    color:rgb(248, 36, 36);
}

/* Add a red background color to the top navigation */
.topnav {
    background-color: rgb(248, 36, 36);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4b4b4b;
    color: white;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

h2 {
    padding: none;
    text-align: center;
    text-decoration: none;
    font-family:'Segoe UI',/* Tahoma, Geneva, Verdana,*/ sans-serif;
    font-size: 30px;
    color:rgb(248, 36, 36); 
}

.banner {

    background-color: antiquewhite;
    overflow: hidden;
    padding-top: none;
}

h3{
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    font-family:'Segoe UI', /*Tahoma, Geneva, Verdana, */sans-serif;
    font-size: 16px;
    color:rgb(0, 0, 0); 
}

h4 {
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    font-family:'Segoe UI', /*Tahoma, Geneva, Verdana, */sans-serif;
    font-size: 24px;
    color:rgb(0, 0, 0); 
}


.password {
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.ContactHeader {
    
}